<header>
  <article>
    <div
      class="logo-wrapper"
      [routerLink]="['/home']"
      [routerLinkActive]="'navbar__link--active'"
    >
      <img src="../../../../assets/logo.png" alt="logo" />
    </div>
  </article>
  <article>
    <nav>
      <ul>
        <li>
          <a
            class="navbar__link"
            [routerLink]="['/home']"
            [routerLinkActive]="'navbar__link--active'"
            >Home</a
          >
        </li>
        <li>
          <a
            class="navbar__link"
            [routerLink]="['/market']"
            [routerLinkActive]="'navbar__link--active'"
            >Market</a
          >
        </li>
      </ul>
    </nav>
    <div role="button" class="login-button">Login</div>
  </article>
</header>
