.list-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-wrapper-section {
  width: 90%;
  height: auto;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 2vw;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.card-article {
  width: 12vw;
  height: 8vw;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
  gap: 1vw;

  @media screen and (max-width: 768px) {
    width: 80vw;
    height: auto;
    padding: 2vw;
    flex-direction: row;
  }
}

.card-wrapper {
  width: 100%;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
  }
}

.card-title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  color: #d3d4d8;
  position: relative;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    gap: 1vw;
    width: auto;
    align-items: center;
  }
  > h2 {
    font-size: 1vw;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 4vw;
    }
  }

  > p {
    font-size: 0.5vw;
    background-color: #d3d4d8;
    color: #1f042f;
    padding: 0.1vw 0.5vw;
    border-radius: 4px;
    margin: 0;
    position: absolute;
    right: 0;
  }
}

.image-wrapper {
  width: 3vw;
  height: auto;
  display: flex;
  margin-right: 0.5vw;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    width: 8vw;
  }
}

.card-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    gap: 3vw;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.card-text {
  color: #d3d4d8;
  margin-top: 1vw;

  @media screen and (max-width: 768px) {
    font-size: 3vw;
  }
}

.market-change {
  font-size: 0.9vw;

  @media screen and (max-width: 768px) {
    font-size: 3vw;
    margin: 0;
  }
}
